@use "../sass-utils/all" as *;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

input {
  all: unset;
}

button {
  border: none;
}

ul {
  list-style: none;
}

image {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}