@use '../sass-utils/all' as *;

html {
  font-size: 16px;
}

body {
  font-family: var(--nunito);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  text-align: start;
}

h1,
h2,
h3,
h4 {
  font-family: var(--dosis);
  color: var(--white);
}

h1 {
  text-transform: uppercase;
  font-size: var(--fs-h1);
  line-height: 1.1;
  font-weight: var(--fw-extra-bold);
}

h2 {
  font-size: var(--fs-h2);
  text-align: start;
}

h3 {
  font-size: var(--fs-h3);
  color: var(--soft-red);
  text-align: start;
  font-weight: 600;
}

h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semi-bold);
}

p {
  color: var(--gray-light);
  font-size: var(--fs-text);
}

.button,
.navbar__link {
  font-size: var(--fs-button);
}

.fs-small {
  font-size: var(--fs-text-small);
}

.fs-card-title {
  font-size: var(--fs-card-title);
}

.ff-dosis {
  font-family: var(--dosis);
}
