@forward 'button';
@forward 'moviesCard';
@forward 'search';
@forward 'spinner';
@forward 'toggle';
@forward 'menu';
@forward 'logo';
@forward 'searchContainer';
@forward 'hero';
@forward 'slider';
@forward 'sliderHome';
@forward 'navbar';
