@use "../sass-utils/all" as *;

.button {
  padding: 0.5rem 1.5rem;
  color: white;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  &--sign-up{
    justify-self: end;
    align-self: center;
    height: 1.5rem;
    border: 1px solid var(--red);
    border-radius: 5px;
    &:hover{
      background-color: var(--red);
    }

  }
}

.button--cta {
  margin-top: 3rem;
  padding: 0.8rem 2rem;
  background-color: var(--soft-red);
  font-weight: 600;
}

.button--cta:hover {
  background-color: var(--soft-red-cta);
}

.button--light {
  grid-area: button;
  border: 1px solid var(--soft-red);
}

.button--light:hover {
  background-color: var(--soft-red);
}
