@use '../sass-utils/all' as *;

.button {
	text-align: center;
	padding: 14px 24px;
	border-radius: $border-radius-button;
	color: var(--white);
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	font-size: var(--fs-button);
	font-weight: var(--fw-semi-bold);

	&--red {
		color: var(--white);
		background-color: var(--red);
		&:hover {
			background-color: var(--red-light);
		}
	}

	&--black {
		padding: 14px 35px;
		background-color: var(--dark);
		&:hover,
		&:focus {
			background-color: var(--dark-light);
		}
	}

	&--sign-up {
		padding: 10px 24px;
		border: 1px solid var(--red);
		&:hover,
		&:focus {
			background-color: var(--red-light);
			border: 1px solid var(--red-light);
		}
	}
}
