@use '../sass-utils/all' as *;

.hero {
  padding: 3rem 0;
  display: grid;
  position: relative;

  &__title {
    margin: 0 $padding-layout-mobile;
    @include query(md) {
      margin: 0 $padding-layout-tablet;
    }

    @include query(lg) {
      margin: 0 $padding-layout-desktop;
    }

    @include query(xl) {
      margin: 0 $padding-layout-desktop-xl;
    }

    @include query(xxl) {
      margin: 0 $padding-layout-desktop-xxl;
    }
  }
}
