@use '../sass-utils/all' as *;

.slider-home-container {
  display: grid;
  place-content: center;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  bottom: 80%;
  color: white;
}

.swiper-button-prev,
.swiper-button-prev::after {
  left: 0;
}
.swiper-button-next,
.swiper-button-next::after {
  right: 0;
}
