.slider-home-container {
  display: grid;
  place-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  top: 40%;
  width: 2rem;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
}
