@use "../sass-utils/all" as *;

.toggle {
  z-index: 3;
  cursor: pointer;
  display: grid;
  gap: 0.5rem;
  position: relative;

  &.open,
  &:hover{
    & div{
      background-color: var(--red);
    }
  }

  & div {
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
    width: 1.5rem;
    height: 1.8px;
  }

  & div:nth-child(1) {
    &.open {
      position: absolute;
      width: 100%;
      transform: rotate(45deg);
    }
  }

  & div:nth-child(2) {
    &.open {
      opacity: 0;
    }
  }

  & div:nth-child(3) {
    width: 14px;
    &.open {
      position: absolute;
      width: 100%;
      transform: rotate(-45deg);
    }
  }
}
