:root {
	--dosis: 'Dosis', sans-serif;
	--nunito: 'Nunito', sans-serif;

	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;

	--red-light: hsl(343, 100%, 43%);
	--red: hsl(343, 71%, 43%);
	--white: hsl(0, 0%, 100%);
	--dark-blue: hsl(210, 91%, 4%);
	--dark-blue-transparent: hsla(210, 90%, 4%, 0.9);
	--gray-blue: hsl(210, 30%, 9%);
	--gray-light: hsl(211, 17%, 72%);

	--fs-h1: clamp(2.4rem, 2.8vw + 1rem, 20rem);
	--fs-h2: clamp(1.5rem, 1.5vw + 1rem, 14rem);
	--fs-h3: clamp(1.5rem, 1vw + 1rem, 8rem);
	--fs-h4: clamp(1rem, 1vw + 0.3rem, 6rem);
	--fs-card-title: clamp(1.5rem, 0.8vw + 1rem, 7rem);
	--fs-text: clamp(1rem, 1vw + 0.3rem, 1.5rem);
	--fs-text-footer: clamp(0.9rem, 1vw + 0.1rem, 6rem);
	--fs-small: clamp(0.8rem, 1vw + 0.2rem, 1.2rem);
	--fs-button: clamp(1rem, 0.4vw + 0.85rem, 5rem);
}
//Variables
$padding-layout-mobile: 4vw;
$padding-layout-tablet: 6vw;
$padding-layout-desktop: 6vw;
$min-width-card: 7rem;
$max-width-card: 10rem;

//Maps
$breakpoints: (
	xs: 25em,
	// 400px
	ms: 34em,
	// 544px
	md: 48em,
	// 768px
	lg: 60em,
	// 960px
	xl: 80em,
	// 1280px
	xxl: 90em
		// 1440px,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);
