:root {
  --source-code-pro: "Source Code Pro", monospace;
  --source-sans-pro: "Source Sans Pro", sans-serif;

  --red: 	hsl(343, 100%, 43%);
  --white:hsl(0, 0%, 100%);
  --dark-blue: hsl(210, 91%, 4%);
  --gray-blue: 	hsl(210, 10%, 16%);
  
  --gray-light: hsl(211, 17%, 72%);

  --fs-h1: clamp(2.5rem, 3.6vw + 1rem, 20rem);
  --fs-h2: clamp(1.5rem, 2vw + 1rem, 14rem);
  --fs-h3: clamp(1.5rem, 1vw + 1rem, 8rem);
  --fs-card-title: clamp(1.5rem, 0.8vw + 1rem, 7rem);
  --fs-text: clamp(1rem, 0.6vw + 1rem, 5rem);
  --fs-button: clamp(1rem, 0.4vw + 1rem, 5rem);
}

//Maps
$breakpoints: (
  xs: 25em,
  // 400px
  ms: 34em,
  // 544px
  md: 48em,
  // 768px
  lg: 60em,
  // 960px
  xl: 80em,
  // 1280px
  xxl: 90em 
  // 1440px,,
);
