@use '../sass-utils/all' as *;

.footer {
	padding: 5rem $padding-layout-mobile;

	@include query(md) {
		padding: 5rem $padding-layout-tablet;
	}

	@include query(lg) {
		padding: 5rem $padding-layout-desktop;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		gap: 3rem;
		@include query(md) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr 0.5fr;
		}
	}

	h4 {
		margin-bottom: 0.5rem;
	}

	&__row {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		text-align: center;

		@include query(md) {
			text-align: start;
		}

		&:nth-child(5) {
			text-align: center;
			@include query(md) {
				grid-column: 2/4;
			}
		}
	}
}
