@use '../sass-utils/all' as *;

.footer {
  padding: 5rem $padding-layout-mobile;

  @include query(md) {
    padding: 5rem $padding-layout-tablet;
  }

  @include query(lg) {
    padding: 5rem $padding-layout-desktop;
  }

  @include query(xl) {
    padding: 5rem $padding-layout-desktop-xl;
  }

  @include query(xxl) {
    padding: 5rem $padding-layout-desktop-xxl;
  }

  &__container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 3rem;
    @include query(md) {
      place-items: start;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 0.5fr;
    }
  }

  &__row {
    margin: 0 12vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    @include query(md) {
      margin: 0;
      text-align: start;
      place-items: start;
      &:nth-child(4),
      &:nth-child(5) {
        justify-self: center;
      }
    }

    &:nth-child(5) {
      text-align: center;
      @include query(md) {
        place-items: center;
        grid-column: 2/4;
      }
    }
  }

  &__header {
    position: relative;
    margin-bottom: 1.7rem;

    @include query(md) {
      width: 100%;
    }
    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: var(--red);
      border-radius: 5px;
      @include centerer($top: 165%, $left: 50%);
    }
  }
  &__link {
    cursor: pointer;
    @include transition(all 0.2s ease-in-out);

    &:focus,
    &:hover {
      color: var(--white);
    }
  }
}
