@use '../sass-utils/all' as *;

 #root{
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: 4.5rem auto;
    grid-template-areas: 
          ".  navbar ."
          ".   hero  ."
          ". section .";
  }

  .navbar{
    grid-area: navbar;
  }

  .hero{
    grid-area: hero;
  }

  .section{
    grid-area: section;
  }