@use '../sass-utils/all' as *;

.moviesList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 7rem), 1fr));
  grid-template-rows: auto;
  gap: 3rem 1rem;
  @include query(xs) {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr));
    gap: 3rem 2rem;
  }

  @include query(md) {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 12rem), 1fr));
    gap: 3rem 2rem;
  }
}
