@use "../sass-utils/all" as *;

.navbar {
  grid-area: navbar;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  place-items: center;

  &__logo {
    color: var(--white);
    z-index: 2;
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   width: 100vw;
  //   height: 0.5px;
  //   background-color: var(--gray-light);
  // }

  &__list {
    display: none;

    @include query(md) {
      display: flex;
      column-gap: 5rem;
      color: var(--white);
    }
  }

  &__item {
    display: flex;
    place-items: center;
    column-gap: 0.6rem;
  }

  &__link {
    color: var(--white);
  }
}
