@use '../sass-utils/all' as *;

.navbar {
  background-color: var(--dark-blue);
  position: sticky;
  z-index: 4;
  top: 0;
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 0 $padding-layout-mobile;

  @include query(md) {
    padding: 0 $padding-layout-tablet;
  }
  @include query(lg) {
    padding: 0 $padding-layout-desktop;
  }

  @include query(xl) {
    padding: 0 $padding-layout-desktop-xl;
  }

  @include query(xxl) {
    padding: 0 $padding-layout-desktop-xxl;
  }

  &__item {
    display: flex;
    place-items: center;
    gap: 4rem;

    &:nth-child(1) {
      justify-self: start;
    }

    &:nth-child(3) {
      justify-self: center;
      color: var(--white);
    }

    &:nth-child(4) {
      justify-self: end;
      display: flex;
      gap: 2rem;

      a {
        display: none;
        @include query(md) {
          display: block;
        }
      }
    }
  }

  &__link {
    color: var(--white);
  }
}
